{{extend defaultLayout}}

{{block 'css'}}

<link rel="stylesheet" type="text/css" href="{{_res_path}}/admin/index.css" />
<style>
	.container {
		background: url("{{_res_path}}/admin/imgs/bg/{{bg}}") #000144 top !important;
		background-size: 520px auto;
		width: 800px;
	}
</style>
{{/block}}
{{block 'main'}}

<div class="info_box">
	<div class="head-box type{{bgType}}">
		<div class="label">#图鉴设置</div>
		<div class="title">图鉴管理面板</div>
	</div>
</div>
<div class="cfg-box">
	<div class="cfg-group">游戏图鉴卡片展示</div>
	<ul class="cfg-ul">
		<li class="cfg-li">
			<div class="cfg-line">
				图鉴匹配查询
				<span class="cfg-hint"> #图鉴设置匹配 + 开启/关闭</span>
				{{@Atlas}}
			</div>
			<div class="cfg-desc">图鉴匹配规则需要 开启：图鉴结尾 关闭：原魔、圣遗物、食物无需图鉴结尾</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				图鉴目录开关
				<span class="cfg-hint"> #图鉴设置目录 + 开启/关闭</span>
				{{@Atlasall}}
			</div>
			<div class="cfg-desc">图鉴目录 为兼容之前用js版本插件用户可以用指令关闭功能</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				戳一戳卡片
				<span class="cfg-hint"> #图鉴设置戳一戳 + 开启/关闭</span>
				{{@poke}}
			</div>
		</li>

		<!--  <li class="cfg-li">
      <div class="cfg-line">
        面板查询
        <span class="cfg-hint"> #喵喵设置面板 + 开启/关闭</span>
        {{@profile}}
      </div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        老婆查询
        <span class="cfg-hint"> #喵喵设置老婆 + 开启/关闭</span>
        {{@wife}}
      </div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        允许查他人
        <span class="cfg-hint"> #喵喵设置查他人 + 开启/关闭</span>
        {{@other}}
      </div>
      <div class="cfg-desc">面板查询暂不支持查他人</div>
    </li> -->

	</ul>
</div>
<div class="cfg-box">
	<div class="cfg-group">图鉴扩展包</div>
	<ul class="cfg-ul">
		<li class="cfg-li">
			<div class="cfg-line">
				角色图片扩展包
				<span class="cfg-hint"> #图鉴更新</span>
				{{if imgPlus}}
				<div class="cfg-status">已安装</div>
				{{else}}
					<div class="cfg-status status-off">未安装</div>
					{{/if}}
			</div>
			<div class="cfg-desc">角色图片的扩展包，包含更多的角色图片</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				体力模板扩展包
				<span class="cfg-hint"> #图鉴模板更新</span>
				{{if notePlus}}
				<div class="cfg-status">已安装</div>
				{{else}}
					<div class="cfg-status status-off">未安装</div>
					{{/if}}
			</div>
			<div class="cfg-desc">体力模板的扩展包，包含更多的体力模板</div>
		</li>
	</ul>
</div>
<div class="cfg-box">
	<div class="cfg-group">系统设置</div>
	<ul class="cfg-ul">
		<!-- <li class="cfg-li">
      <div class="cfg-line">
        渲染精度
        <span class="cfg-hint">#图鉴设置渲染100 </span>
        <div class="cfg-status">{{scale}}</div>
      </div>
      <div class="cfg-desc">可选值50~200，建议100。设置高精度会提高图片的精细度，但因图片较大可能会影响渲染与发送速度</div>
    </li> -->
		<li class="cfg-li">
			<div class="cfg-line">
				拦截绑定ck自动获取stoken
				<span class="cfg-hint">#图鉴设置获取sk + 开启/关闭</span>
				{{@isSk}}
			</div>
			<div class="cfg-desc">开启后将拦截login_ticket自动获取stoken</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				扫码绑定
				<span class="cfg-hint">#图鉴设置扫码绑定 + (0~3)</span>
				<div class="cfg-status">{{@qrcode}}</div>
			</div>
			<div class="cfg-desc">0不限制，1限制群聊使用，2限制私聊使用，3禁用功能</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				图鉴作为默认帮助
				<span class="cfg-hint">#图鉴设置帮助 + 开启/关闭 </span>
				{{@help}}
			</div>
			<div class="cfg-desc">开启后将使用图鉴版帮助作为Yunzai的默认帮助</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				体力作为默认体力
				<span class="cfg-hint">#图鉴设置体力 + 开启/关闭</span>
				{{@Note}}
			</div>
			<div class="cfg-desc">开启后将使用图鉴版体力作为Yunzai的默认体力</div>
		</li>
		<li class="cfg-li">
			<div class="cfg-line">
				设置体力模板类型
				<span class="cfg-hint">#图鉴设置模板 + (0-2)</span>
				<div class="cfg-status">{{@len}}</div>
			</div>
			<div class="cfg-desc">需开启图鉴版体力作为Yunzai的默认体力,当前模板支持0(随机)以及1-2</div>
		</li>


</div>
{{/block}}
